<p-toast />

<p-menubar [model]="items()">>
  <ng-template pTemplate="start">
    <a routerLink="/" class="text-white no-underline font-bold text-xl mr-8">PokéTrainer</a>
  </ng-template>

  <ng-template #item let-item let-root="root">
    <a
      pRipple
      class="p-menubar-item-link flex items-center gap-1 cursor-pointer"
      (click)="item.command && item.command()"
    >
      <span>{{ item.label }}</span>
      @if (item.showIcon) {
        <i class="ml-auto pi pi-angle-down"></i>
      }
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex items-center gap-2">
      <app-user-role-indicator></app-user-role-indicator>
      <language-switcher class="text-white"></language-switcher>
      <avatar></avatar>
    </div>
  </ng-template>
</p-menubar>
<main class="p-4">
  <router-outlet></router-outlet>
</main>
